.hero {
  width: 100%;
  img {
    height: 755px;
    position: absolute;
    z-index: -1;
    top: 40px;
    transform: translateX(56%);
  }
  .name-animation {
    position: relative;
    width: 100%;
    z-index: -1;
    top: -240px;
    // margin-top: 120px;

    .name-content {
      position: absolute;
      color: white;
      white-space: nowrap;
      overflow: hidden;
      animation: floatText 70s linear infinite;
      font-size: 157px;
      font-weight: 400;
      line-height: 170px;
      text-shadow: rgba(159, 156, 168, 0.95) 4px 5px 13px;
    }
  }
  .location-wrapper {
    .location-div {
      animation: width 5s 1.2s ease infinite;
      position: absolute;
      top: 340px;
      width: 290px;
      height: 110px;
      background: #000000;
      border-top-right-radius: 65px;
      border-bottom-right-radius: 65px;
      display: flex;
      align-items: center;
      .contents {
        width: 200px;

        color: white;
        font-size: 20px;
        margin-left: 40px;
        font-weight: 400;
      }
      .globe {
        z-index: 13;
        top: 8px;
        right: 5px;
        background: #c3c3c3;
        border-radius: 50%;
        position: absolute;
        padding: 10px;
        width: 75px;
        height: 75px;
      }
    }
    .globe-4 {
      animation: globe 7s linear infinite;
      width: 100px;
      transform: translateX(4px / 100px);
      background: #c3c3c3;
      position: relative;
      top: -411px;
      left: 206px;
      z-index: 100;
      .f1 {
        position: absolute;
        width: 65px;
        height: 65px;
        border: 2.5px solid rgb(255, 255, 255);
        border-radius: 50%;
      }
      .f2 {
        position: absolute;
        width: 65px;
        height: 65px;
        border: 2.5px solid rgb(255, 255, 255);
        border-radius: 50%;
        // transform: rotateY(50deg);
        animation: f2 10s 4s linear infinite;
      }
      .f3 {
        position: absolute;
        width: 65px;
        height: 65px;
        border: 2.5px solid rgb(255, 255, 255);
        border-radius: 50%;
        // transform: rotateY(10deg);
        animation: f3 10s 6s linear infinite;
      }
      .f4 {
        position: absolute;
        width: 65px;
        height: 65px;
        border: 2.5px solid rgb(255, 255, 255);
        border-radius: 50%;
        // transform: rotateY(10deg);
        animation: f3 10s linear infinite;
      }
      .f5 {
        position: absolute;
        top: 16px;
        left: -7px;
        width: 80px;
        height: 35px;
        border: 2.5px solid rgb(255, 255, 255);
        border-radius: 50%;
        transform: rotate(180deg);
      }
      .f6 {
        position: absolute;
        border: 12px solid #c3c3c3;
        padding: 31.5px;
        top: -10.9px;
        left: -11.7px;
        // background: #c3c3c3;
        border-radius: 50%;
      }
    }
    .bgcolor {
      background: #c3c3c3;
      width: 76px;
      height: 76px;
      top: 360px;
      left: 199px;
      position: absolute;
      border-radius: 50%;
    }
  }
  .work-div {
    position: relative;
    top: -379px;
    left: 1140px;
    .work-img {
      top: -43px;
      left: -9px;
      position: absolute;
      width: 40px;
      height: 40px;
      transform: rotate(223deg);
      animation: work1 3.2s 0.2s ease-in;
    }
    .work-text {
      position: absolute;
      color: #fff;
      font-size: 33px;
      font-weight: 400;
      z-index: -1;
    }
    .text-bg {
      position: absolute;
      height: 50px;
      border-radius: 12px;
      background: rgba(52, 52, 52, 0.7);
      animation: work2 3.2s ease-in;
    }
  }
}

///////////////////////////////////////////////////////////////
.all-animation {
  @keyframes floatText {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  @keyframes globe {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(30deg) translateY(8px) translateX(14px);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(-30deg) translateY(-10px) translateX(-10px);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes f2 {
    0% {
      transform: rotateY(0deg);
    }

    50% {
      transform: rotateY(360deg);
    }

    100% {
      transform: rotateY(0deg);
    }
  }
  @keyframes f3 {
    0% {
      transform: rotateY(0deg);
    }

    50% {
      transform: rotateY(360deg);
    }

    100% {
      transform: rotateY(0deg);
    }
  }

  @keyframes width {
    0% {
      width: 290px;
    }
    25% {
      width: 287px;
    }
    50% {
      width: 290px;
    }
    75% {
      width: 294px;
    }
    100% {
      width: 290px;
    }
  }
}

//////////////////////////////////////////////////////////////
.work-info-animation {
  @keyframes work1 {
    0% {
      transform: translateX(0px) translateY(0px) rotate(223deg);
    }
    50% {
      transform: translateX(299px) translateY(10px) rotate(183deg);
    }
    90% {
      transform: translateX(-30px) translateY(0px) rotate(243deg);
    }
    100% {
      transform: translateX(0px) translateY(0px) rotate(223deg);
    }
  }
  @keyframes work2 {
    0% {
      width: 10px;
    }
    50% {
      width: 340px;
    }
    100% {
      width: 0px;
    }
  }
}

@media (max-width: 720px) {
  .hero {
    .name-animation {
      display: none;
      .name-content {
        display: none;

        animation: none;
      }
    }
    img {
      width: 525px;
      height: 520px;
      position: absolute;
      z-index: 1;
      top: 90px;
      left: -370px;
    }
    .location-wrapper {
      .globe-4 {
        top: -16px;
        left: 313px;
      }
    }
    .work-div {
      position: relative;
      top: -258px;
      left: 20px;
      .work-img {
        top: -43px;
        left: -9px;
        position: absolute;
        width: 40px;
        height: 40px;
        transform: rotate(223deg);
        animation: work1 3.2s 0.2s ease-in;
      }
      .work-text {
        width: 90px;
        position: absolute;
        color: #fff;
        font-size: 33px;
        font-weight: 700;
        z-index: 1;
      }
      .text-bg {
        position: absolute;
        height: 50px;
        border-radius: 12px;
        background: rgba(52, 52, 52, 0.7);
        animation: work2 3.2s ease-in;
      }
    }
  }
}
